
:root{
    --font-family: 'Roboto', sans-serif;
    --root-font-size: 16px;
    --page-background-color: #2A403E;
}



body {
    font-family: var(--font-family);
    font-size: var(--root-font-size);
    background-color: var(--page-background-color);
    color: #B9F263;
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
}

header, footer{
    display: flex;
    border-top: 1px dotted;
    border-bottom: 1px dotted;
    padding: 10px;
    color: #B9F263;   
}

footer {
    justify-content: center;
    text-align: center;
    background-color: #253837; 
}

nav {
    margin-left: 60px;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav li{
    display: inline;
    margin-right: 60px;
    font-size: 2rem;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: #B9F263;
    /* color: #fff; */
}

/* Add styling to keep the nav fixed at the top */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 100px;
    background-color: #253837; 
}

/* Add styling for the search input */
header .search {
    display: flex;
    align-items: center;
    margin-left: auto; /* Push the search input to the right */
    padding-right: 20px;
}

header .search input[type="text"]{
    padding: 5px;
    border: 1px solid #B9F263;
    border-radius: 5px;
}

header .search button[type="submit"]{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Add additional styling for the search icon (Font Awesome) */
header .search button[type="submit"] i.fa {
    font-size: 18px;
    color: #B9F263
}

#title {
    font-family: 'Pixelify Sans', cursive;
}

main {
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 10%;
    text-align: center;
}

#logo img{
    margin-right: 20px;
}


footer ul {
    list-style-type: none;
}



.task-item {
    width: 680px;
    margin: 20px 0;
    /* border: 1px solid #ccc; */
    background-color: #5C7831;
    padding: 10px;
    cursor: pointer;
}

.task-item:hover{
    border: 2px solid;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);

}

.task-content {
    width: 100%;
    
}

.task-content h3 {
    color: #E9EBF2;
}

.task-details {
    display: none;
    background-color: #CDFF82;
}

.task-details p {
    color: grey;
}

.task-options a {
    display: inline;
    margin-right: 10px;
    color: #007bff;
}

.task-options a:hover{
    color: red;
    cursor: pointer;
}

.add-task-icon {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #5C7831;
    color: #E9EBF2;
    padding: 10px;
    border-radius: 50%; /* Makes it a circular icon */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

.add-task-icon a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}
