
:root{
    --font-family: 'Roboto', sans-serif;
    --root-font-size: 16px;
    --page-background-color: #2A403E;
}



body {
    font-family: var(--font-family);
    font-size: var(--root-font-size);
    background-color: var(--page-background-color);
    color: #B9F263;
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
}

header, footer{
    display: flex;
    border-top: 1px dotted;
    border-bottom: 1px dotted;
    padding: 10px;
    color: #B9F263;   
}

footer {
    justify-content: center;
    text-align: center;
}

nav {
    margin-left: 60px;
}

#title {
    font-family: 'Pixelify Sans', cursive;
}

main {
    display: flex;
    justify-content: center;
    margin: 10px;
    text-align: center;
}

#logo img{
    margin-right: 20px;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

footer ul {
    list-style-type: none;
}

nav li{
    display: inline;
    margin-right: 60px;
    font-size: 2rem;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: #B9F263;
    /* color: #fff; */
}

.task-item {
    width: 680px;
    margin: 20px 0;
    /* border: 1px solid #ccc; */
    background-color: #5C7831;
    padding: 10px;
    cursor: pointer;
}

.task-item:hover{
    border: 2px solid;
    border-color: red;
}

.task-content {
    width: 100%;
    
}

.task-content h3 {
    color: #E9EBF2;
}

.task-details {
    display: none;
    background-color: #9BA8F2;
}

.task-options a {
    display: inline;
    margin-right: 10px;
    color: #007bff;
}

.task-options a:hover{
    color: red;
    cursor: pointer;
}

/* @media (max-width: 768px){
    .task-item{
        width: 100%;
    }
} */

/* .options-icon {
    color: #007bff;
}

.options-icon:hover {
    cursor: pointer;
    color:red;

}

.options-menu {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    right: 0;
}

.options-menu a {
    display: block;
    text-decoration: none;
    color: #333;
} */

/* .task-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
} */