{% extends 'base.html' %}

{% block title %}To-Do List - Task List{% endblock %}

{% block content %}
    <div id="main">
        <h1>Task List</h1>
        {% if tasks %}
        <ul>
            {% for task in tasks %}
            <div class="task-item">
                <div class="task-content">
                    <h3>{{ task.title }}</h3>
                    <div class="task-details">
                        <p>Description: {{ task.description }}</p>
                        <p>Created At: {{ task.created_at }}</p>
                        <div class="task-options">
                            <a href="{% url 'edit_task' task.id %}">Edit</a>
                            <a href="{% url 'delete_task' task.id %}">Delete</a>
                        </div>
                    </div>
                    
                </div>

            </div>
                
            {% endfor %}
        </ul>
        {% else %}
        <p>No tasks added</p>
        {% endif %}
        <div class="add-task-icon">
            <a href="{% url 'add_task' %}">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
{% endblock %}