{% extends 'base.html' %}

{% block title %}To-Do List - Task List{% endblock %}

{% block content %}
    <h1>Task List</h1>
    <div id="main">
        {% if tasks %}
        <ul>
            {% for task in tasks %}
            <div class="task-item">
                <div class="task-content">
                    <h3>{{ task.title }}</h3>
                    <div class="task-details">
                        <p>Description: {{ task.description }}</p>
                        <p>Created At: {{ task.created_at }}</p>
                        <div class="task-options">
                            <a href="{% url 'edit_task' task.id %}">Edit</a>
                            <a href="{% url 'delete_task' task.id %}">Delete</a>
                        </div>
                    </div>
                    
                </div>

            </div>
                <!-- <li class="task-block">
                    {{ task.title }}
                </li> -->
                
            {% endfor %}
        </ul>
        {% else %}
        <p>No tasks added</p>
        {% endif %}
        <a href="{% url 'add_task' %}">Add Task</a>
    </div>
{% endblock %}