<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To-Do List - Task List</title>
    </head>
    <body>
        <h1>Task List</h1>
        <ul>
            {% for task in tasks %}
                <li>
                    {{ task.title }}
                    <a href="{% url 'delete_task' task.id %}"></a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'add_task' %}">Add Task</a>
    </body>
</html>